/*
Color list

Blue
    1. #5580ad zombie blue
        #6f68f7 pale blue
    2. #3e3b6e  basement blue


Purple (light to dark)
    1.#c691cc;  light purple
    2. #ab22ba eggplant
    2.#5d2073 - dark purple)

*/


/*  Left pane   */

/*
top to bottom colors eggplant, light pale blue, dark purple, basement blue,
*/
.lcascading-vbox {
    -fx-background-color: linear-gradient(#ab22ba,#5d2073, #3e3b6e,#5580ad,#1b344f);
}

.pane {
    -fx-background-color: linear-gradient(to bottom, #FFABAB, #FFC3A0, #FF677D, #D4A5A5, #DC3D3D);
    -fx-pane-
}

/*  Bottom Pane */
.bottom_pane {
    -fx-background-color: #1b344f;
}

/*  Top pane */
.menu-bar {
    /*  -fx-background-color: #FF9100; */
    -fx-background-color: #ab22ba; /* eggplant purple */
}
.menu-item {
    -fx-background-color: #c691cc; /* light purple*/
}


.myButton {
    -fx-background-color: #5580ad;
    -fx-border-radius: 33px;
    -fx-border: 7px solid #5580ad;
    -fx-display: inline-block;
    -fx-cursor: pointer;
    -fx-color: #5580ad;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-padding: 10px 32px;
    -fx-text-decoration: none;
    -fx-text-shadow: 0px 1px 0px #fa9849;
}

.myButton:hover {
    -fx-background-color: #ab22ba;
}

.myButton:active {
    -fx-position: relative;
    -fx-top: 1px;
}

